  <nav class="navbar">
    <a href="#" class="logo">
      <%# <img src="/app/assets/images/logo-for-vintage-cars.png" alt="Vintage Cars logo"> %>
      <%= image_tag 'logo-for-vintage-cars.png' %>
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">Log in</a></li>
      <li class="nav-item"><a href="#">Rent out your car</a></li>
    </ul>
  </nav>
