<div class="homepage-container"><h1 class='main-text-header'>Luxury & Vintage car hire</h1>
  <p class= 'main-text'>DO YOU EVER IMAGINE YOURSELF BEHIND THE WHEEL OF A CLASSIC CAR?<br>
      Sweeping down the road with the top down, wind in your hair, heads turning as you pass by in your classic roadster.<br>
      It’s a dream for anyone who likes cars.
      Hire  a classic car and experience the golden age of motoring</p>
  <p class= 'text-above-searchbox'>Browse our large selection of phenomenal, iconic vintage cars </p>

<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="search for luxury &vintage cars" />
    <button name="button" type="submit" class="btn btn-flat" >
      <i class="fas fa-search"></i><%= link_to "search", cars_path %></li>
    </button>
  </div>
</form>

</div>
