  <nav class="navbar-homepage">
    <a href="#" class="logo" >
      <%# <img src="/app/assets/images/logo-vintage-cars.png" alt="Vintage Cars logo"> %>
      <%= image_tag 'final-logo-vintage-cars' %>
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">Log in</a></li>
      <li class="nav-item"><a href="#">List your car</a></li>
    </ul>
  </nav>


<%# <%= link_to "Log in", (which path?bookings_path(@book) %>
<%# <%= link_to "List your car", which path?bookings_path@book %>
