
<div class = 'home-page-image'><%= image_tag 'picture-for-homepage.jpeg' %></div>
<%= render 'homepage_components/main-body-homepage' %>

<%= render 'homepage_components/search-form' %>
<%= render 'homepage_components/footer' %>
