<%= render 'homepage_components/navbar'%>
<div class = 'home-page-image'><%= image_tag 'https://c4.wallpaperflare.com/wallpaper/376/400/20/1931-buick-car-vintage-oldtimer-wallpaper-preview.jpg' %></div>
<%= render 'homepage_components/main-body-homepage' %>
<%= render 'homepage_components/search-form' %>
