@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

nav {
  width: 100%;
  background-color: whitesmoke;
  padding-left: 30px;
  padding-right: 10px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;

}

.logo {
  position: absolute;
  top: 0;
  left: 45%;
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: rgb(10, 12, 10);
}

.logo img {
  width: 100px;
  vertical-align: middle;
}
