@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

nav {
  width: 100%;
  background-color: whitesmoke;
  padding-left: 30px;
  padding-right: 10px;
}

.navbar-homepage{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;

}

.logo {
  position: absolute;
  top: 0;
  left: 45%;
}

a{
  margin-top: 6px;
}
.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: rgb(10, 12, 10);
}

.logo img {
  width: 100px;
  vertical-align: middle;
}

.dropdown-toggle {
    margin-top: 16px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
  ;
}

  a.dropdown-item {
    background-color: whitesmoke !important;
    text-decoration: none;
    outline: none !important;
}
  // a.dropdown-toggle:active, .open .dropdown-toggle {
  //         background:#FFF !important;
  //         color:#000 !important;
  //     }
