<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
   <h1><%= @car.name %></h1>
  </div>
</div>
<ul>
  <li><%= @car.model %> </li>
  <li><%= @car.description %> </li>
  <%= link_to "book this car", new_car_booking_path(@car, @booking) %>
</ul>
